body {
    font-family: 'Heebo', sans-serif;
    background-image: url("image.jpg");
}

h1 {
    font-size:xx-large;
    font-weight:bolder;
}

/* Navigation Bar */
.container {
    max-width: 90%;
}

.nav-bar {
    padding: 2px 0 0 2px;
}

.navbar-brand {
    padding-left: 2rem;
}

.navbar-nav {
    margin-left: 15rem;
    padding-left: 10rem; 
}

.nav-link {
    margin-left: 2.5rem;
}

.nav-link product {
    margin-left: 2.5rem;
    color:orange;
    text-decoration: none;
}

/* Title */
.button-image {
    border-radius: 90%;
    border: solid 1px orange;
}

.title {
    padding-top: 3%;
    padding-right: 5rem;
}

.title-image {
    width: 37rem;
    rotate: 28deg;
}

.title-heading {
    color: white;
    padding-top: 9%;
    white-space: nowrap;
    margin-left: 6rem;
    line-height: 15px;
    text-align:start;
}

.title-heading-yummy {
    width: 180px;
    height: 80px;
    background-color: indianred;
    color: white;
    font: 700 sans-serif;
    margin: 6rem 0 0 5.5rem;
    padding-left: 1.6rem; 
    rotate: 40deg; 
    border: 1px solid white;  
}

/* Product */
.carousel-item {
    padding: 1rem 0 0 5rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 50px;
    width: 50px;
    background-size: 100% 100%;
    border-radius: 50%;
    border: 3px solid white;
    background-color: orange;
}

.product {
    color: white;
    padding: 4rem 0rem 2rem 5rem;
}

.product-heading {
    height: 20%;
    width: 18%;
    border-radius: 1rem;
    line-height: 5px; 
    padding: 10px 0px 4px 15px;
    margin: 60px 30px 120px 100px;
    float: left;
    position: relative;
}

.product-image {
    position: absolute;
    top: 0;
    bottom: 0px;
    right: -80px;
    rotate: 40deg;
}

.sneaker-gift {
    width: 185px;
    padding-bottom: 10px;
}

.chocolate-box {
    width: 155px;
}

.choco-gift {
    width: 180px;
}

.oreo-cookies {
    width: 170px;
}

.choco-balls {
    width: 180px;
}

.pringles {
    width: 170px;
}

.dark-chocolate {
    width: 180px;
}

.cookies {
    width: 160px;
}

.chocolate-balls {
    width: 180px;
}

.chocolate-basket {
    width: 160px;
}

.money-ballon {
    width: 190px;
}

.money-bouquet {
    width: 170px;
    rotate: 30deg;
}

.snickers {
    width: 165px;
}

.gourment-ruffles {
    width: 150px;
}

.sugar-free-choco {
    width: 140px;
}

.rating-star {
    width: 30%;
}

.shopping-cart {
    background-color: #fff;
    border-radius: 100%;
    width: 11%;
    margin-bottom: 10px;
}

/* Footer */

.container-footer {
    max-width: 955px;
    display:flex;
    justify-content: space-between;
    margin-left: 2rem;
}

.bottom-nav ul {
    list-style: none;
}

.bottom-nav ul li a {
    color: #E0E0E0; 
    font-size:large;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 20px;
    margin-top: 5px; 
    margin-bottom: 10px;
    text-decoration: none;
    display: block;
}

.bottom-nav ul li a:hover {
    color: orangered;
}

.subscribe {
    padding-top: 6rem;
}

.subscribe-text {
    padding-bottom: 10px;
}

.subscribe-input {
    font-size: 14px;
    letter-spacing: 0.35px;
    line-height: 21px;
    height: 50px;
    width: 240px;
    max-width: 80%;
    box-sizing: border-box;
    border-radius: 60px 0 0 60px;
    border: 1.5px solid orange;  
    padding-left: 15px;
    left: 50%;
    position: absolute;
}

::placeholder {
    color: black;
}

.subscribe-button {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.35px;
    line-height: 21px;
    max-width: 20%;
    border-radius: 60px;
    background-color: orange;
    border: 1px solid #fff;
    box-sizing: border-box;
    height: 50px;
    width: 210px;
    cursor: pointer;
    left: 65%;
    position: absolute;
}

.list-title {
    font-size:x-large;
    font-weight:bolder;
}

.social-media-icon {
    text-align: center;
    padding-top: 1rem;
    font-size: 700;
}

.footer-icon {
    padding-top: 8px;
    display: flex;
    gap: 10px;
    list-style-type: none;
    justify-content: center;
    margin-right: 2rem;
}

.copyright-text {
    padding: 10px 0 10px 0;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 22px;
    text-align: center;
} 

/*desktop media query */
@media screen and (max-width: 1200px) {
    .navbar-nav {
        padding-top: 3%;
    }

    .title {
        padding-top: 2px;
    }

    .title-heading-yummy {
        margin-left: 50px; 
    }

    .title-image {
        width: 34rem;
        rotate: 25deg;
        padding-left: 5px;
    }

    .title-heading { 
        padding-top: 10%;
        margin-left: 1rem;
        white-space: nowrap;
    }

    .carousel-item {
        margin-bottom: 10px;
    }

    .product {
        padding-top: 4rem;
        width: 130%;
    }

    .product-heading {
        height: 10%; 
        width: 20%;
        border-radius: 1rem;
    }

    .product-image {
        right: -80px;
        rotate: 30deg;
    }

    .product-heading h6, p {
        font-size: 20px;
    }

    .subscribe-input {
        height: 50px;
        width: 400px;
        margin-left: 3%;
    }

    .subscribe-button {
        max-width: 20%;
        height: 50px;
        width: 200px;
        margin-left: 14%;
    }
}

/*laptop media query */
@media screen and (max-width: 992px) {
    .title-image {
        width: 29rem;
    }

    .title-heading-yummy {
        margin-left: 110px; 
    }

    .title-heading {
        margin-left: 4rem;
        white-space: nowrap;
    }

    .product {
        padding: 3rem 0rem 2rem 3rem;
    }

    .product-heading {
        white-space: nowrap;
        height: 20%;
        width: 40%;
    }

    .product-image {
        right: -90px;
        rotate: 15deg;
    }


    .sneaker-gift {
        width: 175px;
    }
    
    .chocolate-box {
        width: 130px;
    }
    
    .choco-gift {
        width: 170px;
    }

    .oreo-cookies {
        width: 160px;
    }

    .choco-balls {
        width: 160px;
    }

    .pringles {
        width: 160px;
    }

    .dark-chocolate {
        width: 160px;
    }

    .cookies {
        width: 140px;
    }

    .chocolate-balls {
        width: 160px;
    }

    .chocolate-basket {
        width: 140px;
    }

    .money-ballon {
        width: 170px;
    }

    .money-bouquet {
        width: 150px;
    }

    .snickers {
        width: 145px;
    }

    .gourment-ruffles {
        width: 130px;
    }

    .sugar-free-choco {
        width: 100px;
    }

    .subscribe-text {
        padding-right: 4rem;
        white-space: nowrap;
    }

    .subscribe-input {
        width: 380px;
        margin-left: 8%;
    }
}

/*tablet media query */
@media screen and (max-width: 768px)  {
    .title-image {
        width: 35rem;
    }

    .title-heading-yummy {
        height: 75px;
        margin-left: 180px;
    }

    .title-heading {
        padding: 4% 10% 3% 0;
    }

    .product {
        width: 150%; 
    }

    .product-heading {
        margin-left: 5rem;
        font-size: 10px;
    }

    .product-image {
        right: -50px;
        rotate: 14deg;
    }

    .oreo-cookies {
        width: 140px;
    }
    
    .choco-balls {
        width: 150px;
    }
    
    .pringles {
        width: 150px;
    }
    
    .dark-chocolate {
        width: 135px;
    }
    
    .cookies {
        width: 120px;
    }
    
    .chocolate-balls {
        width: 145px;
    }
    
    .chocolate-basket {
        width: 130px;
    }
    
    .money-ballon {
        width: 150px;
    }
    
    .money-bouquet {
        width: 120px;
    }
    
    .snickers {
        width: 120px;
    }
    
    .gourment-ruffles {
        width: 115px;
    }
    
    .sugar-free-choco {
        width: 100px;
    }
    
    .container-footer {
        padding-right: 10rem;
        flex-direction: column;
        align-items: center;
    }

    .subscribe {
        padding-left: 17%;
        padding-top: 10px;
        margin-bottom: 70px;
    }

    .subscribe-input {
        width: 300px;
        left: 8%;
        right: 2%;
    }

    .subscribe-button {
        width: 200px;
        left: 35%;
        font-size: 10px ;
    }

    .social-media-icon {
        padding-right: 6rem;
    }

    .copyright-text {
        padding-right: 3rem;
    }
}

/*mobile media query */
@media screen and (max-width: 576px) {
    .title-image {
        width: 30rem;
    }

    .title-heading-yummy {
        margin-right:7rem;
    }

    .title-heading {
        text-align: center;
        padding-top: 10%;   
    }

    .product {
        width: 70%;
        margin-left: 1rem;
        padding-right: 1rem;
        margin-right: 5rem;
        padding-bottom: 1rem;
    }

    .product-heading {
        padding: 10px 0px 4px 10px;
        margin: 60px 0px 40px 0px;
    }

    .product-heading h6, p {
        font-size: 14px;
    }

    .product-image {
        right: 1px;
        rotate: 25deg;
    }

    .sneaker-gift {
        width: 130px;
    }
    
    .chocolate-box {
        width: 100px;
    }
    
    .choco-gift {
        width: 130px;
    }

    .oreo-cookies {
        width: 110px;
    }
    
    .choco-balls {
        width: 115px;
    }
    
    .pringles {
        width: 125px;
    }
    
    .dark-chocolate {
        width: 115px;
    }
    
    .cookies {
        width: 110px;
    }
    
    .chocolate-balls {
        width: 115px;
    }
    
    .chocolate-basket {
        width: 110px;
    }
    
    .money-ballon {
        width: 140px;
    }
    
    .money-bouquet {
        width: 110px;
    }
    
    .snickers {
        width: 100px;
    }
    
    .gourment-ruffles {
        width: 100px;
    }
    
    .sugar-free-choco {
        width: 100px;
    }

    .container-footer {
        flex-direction: column;
        align-items: center;
        padding: 10px 0 2rem 5rem;
    }

    .bottom-nav ul li a {
        font-size:large;
        white-space: nowrap;
        line-height: 15px;
        padding-bottom: 20px;
    }
    .subscribe {
        padding-top: 5px;
        margin-bottom: 70px; 
    }

    .subscribe-input {
        width: 300px;
        left: 20%;
    }

    .subscribe-button {
        width: 300px;
        left: 70%;
        font-size: 9px ;
    }

    .social-media-icon {
        margin-left: 7rem;
        white-space: nowrap;
    }

    .footer-icon {
        margin-left: 5rem;
    }

    .copyright-text {
        margin-left: 10rem;
        white-space: nowrap;
    }
}




